h1{
    color: brown;
}

img{
    max-width: 100%;
}

.navbar{
    background-color: #cecece;
}

footer{
    background-color: #cecece;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.logo{
    margin-bottom: -40px;
    margin-top: -55px;
}

.pesquisar{
    margin-bottom: -5px;
    margin-top: 5px;
    float: right;
    margin-right: 20px;
}
